@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url(//db.onlinewebfonts.com/c/00d5a78493aed4b11e2584ad7cceee49?family=Gilroy+ExtraBold);


html{
  scroll-behavior: smooth;
}

/*////BANNER/////////////*/
.slideShow-container{
  max-width: 100%;
  position: relative;
}

.bannerSettings{
  max-height: 100vh;
}

.my-video{
  /*position: relative;*/
  width: 100%;
  height: 100.55vh;
}

.style-video-100{
  width: 100%;
}

.video{
  max-height: 100vh;
  position: relative;
  overflow: hidden;
}

.video_media{
  height: auto;
}

.mySlides::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100vh;
  background: linear-gradient(180deg, #050D1D 11.29%, rgba(5, 13, 29, 0) 90.3%);
  mix-blend-mode: normal;
  opacity: 0.6;
}

.prev, .next{
  position: absolute;
  top: 40%;
}

.prev{
  display: block;
  left: 10.05%;
  right: 88.7%;
  bottom: 90.56%;
  mix-blend-mode: normal;
  opacity: 0.6;
}

.next{
  display: block;
  left: 89.17%;
  right: 9.58%;
  bottom: 90.56%;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

h1{
  position: absolute;
  height: 100px;
  left: 0;
  right: 23.75%;
  top: 23%;
  width: 100%;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 70px;
  line-height: 100px;
  text-align: center;
  color: #FFFFFF;
}

h3{
  position: absolute;
  height: 22px;
  left: 30.73%;
  right: 30.62%;
  top: 41%;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
}

.btn-banner{
  height: 54px;
  width: 172px;
  position: absolute;
  bottom: 10%;
  background: #00A031;
  border-radius: 27px;
  top: calc(50% - 22px/2);
  font-family: Gilroy;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #F4FBF6;
}

.arrow{
  padding: 10px;
  transition: .5s;
}

.arrow:hover{
  background: gray;
  color: green;
}

.text{
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 120px;
  width: 100%;
  text-align: center;
}

.dot-wrap{
  height: 21.08433723449707px;
  width: 21.08433723449707px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 0 2px;
}

.dot{
  cursor: pointer;
  height: 12.650602340698242px;
  width: 12.650602340698242px;
  background: #FFFFFF;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover{
  background: rgba(0, 160, 49, 1);
}

.test-background{
  background-color: red;
}

.dotSettings{
  position: absolute;
  bottom: 10%;
}
/*////////////BANNER END/////////////*/

/*/////////////LOGO/////////////////*/
header{
  z-index: 7;
  height: 4rem;
  width: 100%;
  padding: 26px 0 0 0;
}

.logo{
  left: 19.53%;
  right: 78.83%;
}

.upqode{
  height: 32px;
  left: 21.88%;
  right: 67.95%;
  top: calc(50% - 32px/2 - 2685.5px);
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 32px;
  color: #FFFFFF;
}

/*/////////////LOGO END/////////////////*/

/*///////////////////NAVIGATION/////////////////*/
.home-underline{
  text-decoration: underline;
}

nav{
  left: 57.71%;
  right: 19.53%;
  /*top: calc(50% - 24px/2 - 2694.5px);*/
  height: 24px;
  width: 437px;
}

nav li{
  list-style: none;
  display: inline-block;
  letter-spacing: 0.2px;
  line-height: 24px;
}

nav li a{
  display: block;
  text-decoration: none;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #FFFFFF;
}
/*///////////////////NAVIGATION END/////////////////*/

/*//////////////////////////////!*SERVICES*!////////////////*/
.services{
  height: 2038px;/* важливоооо*/
  width: 1226.8px;
  left: 19.27%;
}

.combined{
  left: 5%;
  top: 3%;
}

.phone1{
  left: 5%;
  top: 0;
}

.wrap-phones{
  margin-top: 8rem;
}

.container-phone{

}

.container-content{

}

.wrap-content{

}

h4{
  font-family: Poppins;
  font-size: 38px;
  font-style: normal;
  font-weight: 800;
  line-height: 51px;
  letter-spacing: 0.4000000059604645px;
  text-align: left;
  color: #00A031;
}

.wrap-content span{
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
}

.container-content a{
  display: flex;
  height: 54px;
  width: 208px;
  border-radius: 28px;
  text-decoration: none;
  border: 2px solid #00A031;
  font-family: Gilroy;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0;
  text-align: center;
  color: #00A031;
}

.combined2{
  left: 11%;
  top: 11%;
}

.phone2{
  left: 5%;
  top: 0;
  transform: rotate(18deg);
}

.combined3{
  left: 11%;
  top: 11%;
}

.phone3{
  left: 10%;
  top: 0;
}

.line{
  top: 15%;
  left: 12.86%;
}

.blue-dot{
  offset-path: path('M22.9998 1C22.9998 1 649.558 119 663 589.542C655.833 1135 1 1215 1 1215');
  offset-distance: 10%;
  top: 15%;
  left: 12.86%;
}

.distance-16{
  offset-distance: 16%;
}

.distance-22{
  offset-distance: 22%;
}

.distance-28{
  offset-distance: 28%;
}

.distance-34{
  offset-distance: 34%;
}

.distance-40{
  offset-distance: 40%;
}
/*//////*/

.distance-46{
  offset-distance: 46%;
}

.distance-52{
  offset-distance: 52%;
}

.distance-56{
  offset-distance: 56%;
}


/*////////*/

.distance-60{
  offset-distance: 60%;
}

.distance-66{
  offset-distance: 66%;
}

.distance-72{
  offset-distance: 72%;
}

.distance-78{
  offset-distance: 78%;
}

.distance-84{
  offset-distance: 84%;
}

.distance-90{
  offset-distance: 90%;
}

/*//////////////////////////////!*SERVICES END*!////////////////*/
/*//////////////////////////////!*TEAM *!////////////////*/

.wrap-google-maps{
  width: 1153px;
  left: 19.27%;
}

.l-settings i{
  padding-right: .5rem;
  padding-bottom: 1.5rem;
}

.l-top-settings{
  width: 270px;
}

.l-settings{
  height: 20%;
  width: 100%;
  color: #6C6C6C;
  padding-bottom: 1rem;
  cursor: pointer;
}

h2{
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 52px;
  line-height: 60px;
  /* or 115% */
  color: #00A031;
}

.l-top-settings span{
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #6C6C6C;
}

.l-settings div span{
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #00A031;
}

.l-settings span{
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #6C6C6C;
}

/*/////////////rightSection///////////////*/

.right-section{

}

#mapLosAngeles,
#mapNewYork,
#mapBoston,
#mapDetroit{
  height: 700px;
}

.displayNone{
  display: none;
}

.displayBlock{
  display: block;
}

.set-btn-maps{
  background: #FFFFFF;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.0758039);
}

.settin-i{
  color: #00A031;
}


.right-window-info{
  height: 496px;
  width: 321px;
  background: #FFFFFF;
  z-index: 55;
  right: 5%;
  bottom: 20.04%;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
  box-shadow: 0 40px 40px rgba(0, 0, 0, 0.0758039);
}


h5{
  font-family: Poppins;
  font-size: 38px;
  font-style: normal;
  font-weight: 800;
  line-height: 51px;
  letter-spacing: 0.4000000059604645px;
  text-align: left;
}

.special{
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
}

.right-window-info i{
  color: #00A031;
  font-size: 18px;
  line-height: 28px;
}

.point{
  z-index: 56;
  left: 40%;
  top: 40%;
}

.point2{
  z-index: 56;
  left: 40%;
  top: 45%;
}

.point3{
  z-index: 56;
  left: 38%;
  top: 45%;
}

.point4{
  z-index: 56;
  left: 38%;
  top: 45%;
}

.google{
  height: 750px;
}
/*//////////////////////////////!*TEAM END*!////////////////*/

/*//////////////////////////////!*FOTTER END*!////////////////*/
footer{
  width: 100%;
  height: 344px;
  background: rgba(34, 34, 34, 1);
}

footer span{
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */
  text-align: center;
  letter-spacing: 0.2px;
  color: #777777;
}

nav.fotr li a{
  color: #777777;
  font-family: Gilroy;
  font-size: 16px;
  line-height: 16px;
}

/*//////////////////////////////!*TEAM END*!////////////////*/

/*/////////////////////////media/////////////////////////////////*/
@media screen and (max-width: 1200px){

  .wrap-google-maps{
    left: 1.27%;
    width: 98%;
  }

  .col-xl-9{
    width: 75%;
  }

  .services{
    left: 1.27%;
    width: 98%;
  }

  header {
    width: 82%;
  }

  .h-100-vh {
    height: 42vh;
  }
  .mySlides::before {
    content: "";
    width: 100%;
    height: 47vh;
  }

  .slideShow-container {
    width: 100%;
  }

  .my-video {
    height: 40.55vh;
  }

  h1{
    font-size: 59px;
  }

  h3{
    top: 45%;
    font-size: 12px;
  }

  .position-md-absolute{
    position: absolute;
    top: 60%;
  }

  .w-oval{
    width: 500px;
  }
}

@media screen and (max-width: 992px) {

  .line, .blue-dot{
    display: none;
  }

  .small-menu{
    display: block;
  }
  /*............nav............*/
  .small-menu {
    z-index: 999999999;
    top: 0;
  }

  .settings-ul {
    width: 100%;
    background: #555555;
    border-radius: 8px;
  }

  .settings-ul li {
    display: block;
  }

  .animation {
    /*transform: translateX(0);*/
    animation-name: menu;
    animation-duration: 1s;
  }

  .animation-back {
    animation-name: menu-back;
    animation-duration: 1s;
  }

  .circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: gray;
    position: static;
    z-index: 999999;
  }

  .line-btn {
    color: #050D1D;
    font-size: 30px;
  }

  .my-menu-btn {
    right: 10%;
    top: 80%;
  }

  /*............nav end............*/
  .flex-wrap-lg-wrap {
    flex-wrap: wrap;
  }

  .flex-wrap-lg-wrap-revers {
    flex-wrap: wrap-reverse;
  }

  .services {
    height: 2948px;
  }

  .combined {
    left: 8%;
    top: 14%;
  }

  .phone1 {
    left: 7%;
    top: 11.5%;
  }

  .combined2 {
    left: 6%;
    top: 10%;
  }

  .phone2 {
    left: 4%;
    top: -4%;
    transform: rotate(18deg);
  }

  .combined3 {
    left: 8%;
    top: 12%;
  }

  .phone3 {
    left: 7%;
    top: -1%;
  }

  h1 {
    font-size: 40px;
  }

  h3 {
    font-size: 9px;
  }

  .d-lg-flex {
    display: flex;
  }

  .justify-content-lg-flex-end {
    justify-content: flex-end;
  }

  .d-lg-none {
    display: none;
  }

  h2 {
    font-size: 47px;
  }

  .col-10 {
    width: 99.33333%;
  }

}

@media screen and (max-width: 576px){

  .mySlides::before {
    content: "";
    height: 36vh;
  }

  .logo {
    left: 2.53%;
  }

  .upqode {
    font-size: 22px;
  }

  .small-menu {
    top: 1%;
    left: 0;
  }

  h1 {
    font-size: 19px;
    top: 8%;
    line-height: 143px;
  }

  h3 {
    line-height: 13px;

  }

  .circle {
    width: 45px;
    height: 45px;
  }

  .arrow {
    position: absolute;

    padding: 0;
    top: 0;
}

  video{
    width: 129%;
  }

  .style-video-100 {
    width: 125%;
  }

  .btn-banner {
    height: 25px;
    width: 122px;
    font-size: 14px;
  }

  .dot {
    height: 9.650602px;
    width: 9.650602px;
}

  .wrap-content {
    padding-top: 0;
  }

  .size-of-SmallOval{
    height: 100px;
    width: 100px;
  }

  .size-of-phone{
    height: 100px;
    width: 100px;
  }

  .size-of-BigOval{
    height: 100px;
    width: 100px;
  }

  .size-of-BigOval {
    height: 400px;
    width: 400px;
  }

  .size-of-SmallOval {
    height: 307px;
    width: 334px;
  }

  .size-of-phone {
    height: 531px;
    width: 319px;
  }

  h4 {
    font-size: 25px;
  }

  .wrap-content span {
    font-size: 11px;
  }

  .container-content a {
    height: 37px;
    width: 132px;
  }

  .phone1 {
    left: 10%;
    top: 10.5%;
  }

  .combined {
    left: 9%;
    top: 13%;
  }

  .phone2 {
    left: 9%;
    top: -8%;
    transform: rotate(18deg);
  }

  .combined2 {
    left: 9%;
    top: 12%;
  }

  .phone3 {
    left: 10%;
    top: -7%;
  }

  .my-menu-btn {
    right: 10%;
    top: 80%;
    z-index: 9999999999;
  }

  .services{
    height: 2424px;
  }

  .google {
    height: 1429px;
  }

  .wrap-google-maps {
    left: 1.27%;
    width: 130%;
  }

  .wrap-google-maps {
    width: 100%;
  }

  .col-xl-9 {
    width: 99%;
  }

  .arrow {
    padding: 10px;
    transition: .5s;
    width: 30px;
    height: 48px;
  }

}

@media screen and (max-width: 380px) {

  .small-menu {
    top: 1%;
    left: -7%;
  }

  .size-of-BigOval {
    height: 338px;
    width: 388px;
  }

  .size-of-phone {
    height: 501px;
    width: 276px;
  }

  .phone1 {
    left: 16%;
    top: 10.5%;
  }

  .size-of-SmallOval {
    height: 274px;
    width: 315px;
  }

  .combined {
    left: 9%;
    top: 14%;
  }

  .combined2 {
    left: 9%;
    top: 9%;
  }

  .size-of-phone {
    height: 504px;
    width: 269px;
  }

  .phone2 {
    left: 16%;
    top: -17%;
    transform: rotate(18deg);
  }

  .phone3 {
    left: 16%;
    top: -16%;
  }

  .combined3 {
    left: 10%;
    top: 9%;
  }

  .arrow {
    padding: 10px;
    transition: .5s;
    width: 30px;
    height: 48px;
  }

  .fotr ul {

    width: 84%;
    position: absolute;
    left: 18%;
    padding: 1rem;
  }

  footer {
    width: 100%;
    height: 231px;
    background: rgba(34, 34, 34, 1);
  }

  .logo {
    margin-bottom: 0;
  }

}
/*/////////////////////////media end/////////////////////////////////*/


/*/////////////////////////keyframes /////////////////////////////////*/

@keyframes menu{
  0%{
    transform: translateX(420px);
  }
  100%{
    transform: translateX(0);
  }
}

@keyframes menu-back{
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(420px);
  }
}

/*/////////////////////////keyframes end/////////////////////////////////*/







